# Namnet på certifikatfilen kan vara en absolut eller relativ sökväg till en fil
# i filsystemet eller en resurs som finns tillgänglig på classpath.
# Sökvägen kan innehålla system properties, t.ex. ${user.home}.

lastFeed=https://api.integrationstest.ladok.se/uppfoljning/feed/recent
useCert=true
clientCertificateFile=<filename>
clientCertificatePwd=<password>
